<th:block th:fragment="profile_view (userProfile)" xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="container">
        <h2>Profile View</h2>
        <div class="row">
            <div class="col-3">
                <img class="img-thumbnail" th:src="@{/images/1.jpg}"/>
            </div>
            <div class="col-9">
                <div class="row" style="margin-bottom:5px;">
                    <div class="col-2 bg-light"> First Name: </div>
                    <div class="col-6 bg-secondary" th:text="${userProfile.firstName}"></div>
                    <div class="col-4"></div>
                </div>
                <div class="row" style="margin-bottom:5px;">
                    <div class="col-2 bg-light">Last Name:</div>
                    <div class="col-6 bg-secondary" th:text="${userProfile.lastName}"></div>
                    <div class="col-4"></div>
                </div>
                <div class="row" style="margin-bottom:5px;">
                    <div class="col-2 bg-light">Birthday:</div>
                    <div class="col-6 bg-secondary" th:text="${userProfile.birthday}"></div>
                    <div class="col-4"></div>
                </div>
                <div class="row" style="margin-bottom:5px;">
                    <div class="col-2 bg-light">School:</div>
                    <div class="col-6 bg-secondary" th:text="${userProfile.school}"></div>
                    <div class="col-4"></div>
                </div>
                <div class="row" style="margin-bottom:5px;">
                    <div class="col-2 bg-light">Hobbies:</div>
                    <div class="col-6 bg-secondary" th:text="${userProfile.hobbies}"></div>
                    <div class="col-4"></div>
                </div>
                <div class="row" style="margin-bottom:5px;">
                    <div class="col-2 bg-light">Achievements:</div>
                    <div class="col-6 bg-secondary" th:text="${userProfile.achievements}"></div>
                    <div class="col-4"></div>
                </div>
                <div class="row" style="margin-bottom:5px;">
                    <div class="col-2 bg-light">Creation:</div>
                    <div class="col-6 bg-secondary" th:text="${userProfile.creation}"></div>
                    <div class="col-4"></div>
                </div>
                <div class="row" style="margin-bottom:5px;">
                    <div class="col-2 bg-light">Studies:</div>
                    <div class="col-6 bg-secondary" th:text="${userProfile.studies}"></div>
                    <div class="col-4"></div>
                </div>
                <div class="row" style="margin-bottom:5px;">
                    <div class="col-2 bg-light">SchoolLife:</div>
                    <div class="col-6 bg-secondary" th:text="${userProfile.schoolLife}"></div>
                    <div class="col-4"></div>
                </div>
                <div class="row" style="margin-bottom:5px;">
                    <div class="col-2 bg-light">Homeland:</div>
                    <div class="col-6 bg-secondary" th:text="${userProfile.homeland}"></div>
                    <div class="col-4"></div>
                </div>
            </div>
        </div>
    </div>
</th:block>