<th:block th:fragment="profile_view (userProfile)" xmlns:th="http://www.w3.org/1999/xhtml">

    <div class="container">
        <h2 th:text="#{common.profile.view}"></h2>
        <div class="row">
            <div class="col-3">
                <img class="img-thumbnail" th:src="@{${'/profile/image/' + userProfile.uuid}}"/>
                <a th:href="@{${'/profile/edit/'+ userProfile.uuid}}" class="btn btn-primary" role="button" th:text="#{common.profile.edit}"></a>
            </div>
            <div class="col-9">
                <div class="row" style="margin-bottom:5px;">
                    <div class="col-2 bg-secondary" th:text="#{common.first.name}"></div>
                    <div class="col-6 bg-light" th:text="${userProfile.firstName}"></div>
                    <div class="col-4"></div>
                </div>
                <div class="row" style="margin-bottom:5px;">
                    <div class="col-2 bg-secondary" th:text="#{common.last.name}"></div>
                    <div class="col-6 bg-light" th:text="${userProfile.lastName}"></div>
                    <div class="col-4"></div>
                </div>
                <div class="row" style="margin-bottom:5px;">
                    <div class="col-2 bg-secondary" th:text="#{common.birthday}"></div>
                    <div class="col-6 bg-light" th:text="${userProfile.birthday}"></div>
                    <div class="col-4"></div>
                </div>
                <div class="row" style="margin-bottom:5px;">
                    <div class="col-2 bg-secondary" th:text="#{common.school}"></div>
                    <div class="col-6 bg-light" th:text="${userProfile.school}"></div>
                    <div class="col-4"></div>
                </div>
                <div class="row" style="margin-bottom:5px;">
                    <div class="col-2 bg-secondary" th:text="#{common.hobbies}"></div>
                    <div class="col-6 bg-light" th:text="${userProfile.hobbies}"></div>
                    <div class="col-4"></div>
                </div>
                <div class="row" style="margin-bottom:5px;">
                    <div class="col-2 bg-secondary" th:text="#{common.achievements}"></div>
                    <div class="col-6 bg-light" th:text="${userProfile.achievements}"></div>
                    <div class="col-4"></div>
                </div>
                <div class="row" style="margin-bottom:5px;">
                    <div class="col-2 bg-secondary" th:text="#{common.creation}"></div>
                    <div class="col-6 bg-light" th:text="${userProfile.creation}"></div>
                    <div class="col-4"></div>
                </div>
                <div class="row" style="margin-bottom:5px;">
                    <div class="col-2 bg-secondary" th:text="#{common.studies}"></div>
                    <div class="col-6 bg-light" th:text="${userProfile.studies}"></div>
                    <div class="col-4"></div>
                </div>
                <div class="row" style="margin-bottom:5px;">
                    <div class="col-2 bg-secondary" th:text="#{common.schoolLife}"></div>
                    <div class="col-6 bg-light" th:text="${userProfile.schoolLife}"></div>
                    <div class="col-4"></div>
                </div>
                <div class="row" style="margin-bottom:5px;">
                    <div class="col-2 bg-secondary" th:text="#{common.homeland}"></div>
                    <div class="col-6 bg-light" th:text="${userProfile.homeland}"></div>
                    <div class="col-4"></div>
                </div>
            </div>
        </div>
    </div>
</th:block>