<th:block th:fragment="profile_list (userProfileList)" xmlns:th="http://www.w3.org/1999/xhtml">
  <div class="container">
    <h2 th:text="#{common.profile.list}"></h2>
      <a th:href="@{/profile/new}" class="btn btn-primary" role="button" th:text="#{common.profile.new}"></a>
    <table class="table table-hover">
      <thead>
      <tr>
            <th scope="col">#</th>
            <th scope="col" th:text="#{common.first.name}"></th>
            <th scope="col" th:text="#{common.last.name}"></th>
            <th scope="col" th:text="#{common.birthday}"></th>
            <th scope="col" th:text="#{common.school}"></th>
            <th scope="col" th:text="#{common.homeland}"></th>
            <th scope="col" th:text="#{common.actions}"></th>
      </tr>
      </thead>
      <tbody>
       <tr th:each="profile,iterStat : ${userProfileList}" th:onclick="selectProfile([[${profile.uuid}]])" style="cursor: pointer;">
            <th scope="row" th:text="${iterStat.count}" ></th>
            <td  th:text="${profile.firstName}"></td>
            <td  th:text="${profile.lastName}"></td>
            <td th:text="${#dates.format(profile.birthday, 'dd-MMM-yyyy')}"></td>
            <td  th:text="${profile.school}"></td>
            <td  th:text="${profile.homeland}"></td>
           <td></td>
      </tr>
      </tbody>
    </table>
  </div>
    <script>

        function selectProfile(uuid) {
            selectedUuid = uuid;
            location.href = "/profile/view/" + uuid;
        }
    </script>

</th:block>