<th:block th:fragment="profile_edit (userProfile)" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Upload File</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/profile/upload}" th:object="${userProfile}" method="post" enctype="multipart/form-data">
                        <input class="uuid" th:field="*{uuid}" type="hidden">
                        <div class="mb-3">
                            <label for="formFile" class="form-label" th:text="#{common.upload}"></label>
                            <input class="form-control" type="file" id="formFile" name="file">
                        </div>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{common.close}"></button>
                        <button type="submit" class="btn btn-primary" th:text="#{common.save}"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="achievementsModal" tabindex="-1" aria-labelledby="achievementsModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="achievementsModalLabel" th:text="#{common.achievements}"></h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form th:action="@{/profile/achievement/add}" th:object="${userProfile}" method="post" enctype="multipart/form-data">
                        <input class="uuid" th:field="*{uuid}" type="hidden">
                        <div class="mb-3">
                            <label for="formFile1" class="form-label" th:text="#{common.select.achievements}"></label>
                            <input class="form-control" type="file" id="formFile1" name="file">
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text" th:text="#{common.description}"></span>
                            <textarea type="text" class="form-control" id="inputDescription" name="description"></textarea>
                        </div>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" th:text="#{common.close}"></button>
                        <button type="submit" class="btn btn-primary" th:text="#{common.save}"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
    <h2 th:text="#{common.profile.edit}"></h2>
    <div class="row">
        <div class="col-3">
            <img class="img-thumbnail" th:src="@{${'/profile/image/' + userProfile.uuid}}"/>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" th:text="#{common.change.picture}"></button>
        </div>
        <div class="col-9">
            <div class="row" style="margin-bottom:5px;">
                <form th:action="@{/profile/edit}" th:object="${userProfile}" method="post">
                    <input id="uuid" class="uuid" th:field="*{uuid}" type="hidden">
                    <input th:field="*{imageName}" type="hidden">
                    <div class="mb-3 row">
                        <label for="firstName" class="col-sm-2 col-form-label" th:text="#{common.first.name}"></label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{firstName}" id="firstName">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="lastName" class="col-sm-2 col-form-label" th:text="#{common.last.name}"></label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{lastName}" id="lastName">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="birthday" class="col-sm-2 col-form-label" th:text="#{common.birthday}"></label>
                        <div class="col-sm-10">
                        <input type="date" class="form-control" th:field="*{birthday}" id="birthday">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="school" class="col-sm-2 col-form-label" th:text="#{common.school}"></label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{school}" id="school">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="hobbies" class="col-sm-2 col-form-label" th:text="#{common.hobbies}"></label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{hobbies}" id="hobbies">
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label for="creation" class="col-sm-2 col-form-label" th:text="#{common.creation}" ></label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{creation}" id="creation">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="studies" class="col-sm-2 col-form-label" th:text="#{common.studies}"></label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{studies}" id="studies">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="schoolLife" class="col-sm-2 col-form-label" th:text="#{common.schoolLife}"></label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{schoolLife}" id="schoolLife">
                        </div>
                    </div>
                    <div class="mb-3 row">
                        <label for="homeland" class="col-sm-2 col-form-label" th:text="#{common.homeland}"></label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" th:field="*{homeland}" id="homeland">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" th:text="#{common.save}"></button>
                    <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#achievementsModal" th:text="#{common.change.achievements}"></button>

                </form>
            </div>
        </div>
    </div>
    </div>
</th:block>